main.acn
main.acr
main.alg
main.aux
main.fdb_latexmk
main.fls
main.glg
main.glo
main.gls
main.ist
main.log
main.lpz
main.lzo
main.lzs
main.out
main.slg
main.slo
main.sls
main.toc
main.synctex.gz
main.synctex(busy)
